body{
    margin: 0;
    padding: 0;
}
.section_spacing{
    margin-top: 4% !important;
    margin-bottom: 4% !important;
}
a{
    text-decoration: none !important;
}
a:hover{
    text-decoration: none !important;
}
.paragraph{
    margin-bottom: 15px;
    font-size: 15px;
    color: #8E9AA9;
}
.parent-listitems a{
    text-decoration: none;
    color: #797F82;
}
.parent-listitems-ul a{
    text-decoration: none;
    color: #8B30EB;
}
#nav-bar{
    display: flex;
    flex:1;
    padding: 0px 5%  ;
    height: 60px;
    /* box-shadow: 0px 1px 5px gray; */
    justify-content: space-between;
}
#logo{
    display: flex;
    justify-content: center;
    background-color: white;
}
#logo img{
    width: 95px;
    height: 46px;
    margin-top: 9px;
}
#right-dropdown{
    display: flex;
    align-items: center;
    align-content: right;
    justify-content: flex-end;  
}
.navigation-ul{
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 48px;
    flex: 1;
}

.parent-listitems{
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
     font-weight: bold;
     font-family: sans-serif;
     position: relative;
     width: 126px;
     height: 49px;
}
.parent-listitems-ul{
    display: none;
    font-weight: bold;
    text-decoration: none;
    font-family: sans-serif;
    position: absolute;
    /*right: 10px;
    */top: 50px;
    /*left: 0;
    */width: 337px;
    flex-direction: column;
    background-color: #ffffff;
    padding: 0;
    list-style: none;
    line-height: 26px;
    font-size: 18px;
    padding: 15px 30px;
    /* box-shadow: 0px 0px 10px 1px #c077be; */
    border-radius:8px ;
}
.listitems:hover{
    margin-left: 5px;
}
.parent-listitems:hover .parent-listitems-ul{
    display: flex;
}

.parent-listitems-ul form{
    text-align: center;
}
.form1{
    width: 75%;
    padding: 7px 9px;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 5px;
    margin: 8px 0;
    color: #A5AEBA;
    background-color: #F0F2F4;
    border: 0;
}
.form1:hover{
    border: 2px solid #4A42EC;
}
.mem-button{
    background-color: #4A42EC;
    color: white;
    padding: 12px 9px;
    width: 82%;
    border-radius: 28px;
    border: 0;
}
.mem-button:hover{
    background-color: #5C55EE;
}
.forget-pass{
    color: #A5AEBA;
    font-size: 13px; 
    text-decoration: none;
}
#pricing-div{
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    width: 150px;
    color: white;
    background-color: #FF399D;
    font-weight: bold;
    font-family: sans-serif;
}
#pricing-div a{
    color: white;
    text-decoration: none;
}
.buttoncontacts{
    display: flex;
    justify-content: center;
}
.buttoncontacts input{
    background-color: #4B83FC;
    text-align: center;
    height: 46px;
    width: 272px;
    border-radius: 12px;
    border: 0;
}
.button-J-to-O{
    display: flex;
    justify-content: center;
}
.button-J-to-O input{
    background-color: #9A55EE;
    text-align: center;
    height: 46px;
    width: 272px;
    border-radius: 12px;
    border: 0;
}
.button-learn{
    display: flex;
    justify-content: center;
}
.button-learn input{
    background-color: #4B83FC;
    text-align: center;
    height: 46px;
    width: 272px;
    border-radius: 12px;
    border: 0;
}
.listitems1{
    border: 1px solid red;
    width: 200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.listitems2{
    border-radius: 10px;
    background-color: lightblue;
    height: 30px;
    
}
#divi-main{
    /* padding: 0 11%; */
    margin-top: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.backgroundimage h1{
    margin-top: 0;
    font-size: 80px;
    font-weight: 900;
    font-family: none;
    color: #3c43eb;
    text-align: center;
}
.backgroundimage h2{
    font-size: 1.8em;
    line-height: 1.25em;
    color: white;
    width: 57%;
}
.backgroundimage p{
    width: 677px;
    font-size: 18px;
    color: white;
}
#submit{
    display: flow-root;
    font-size: 12px;
    padding: 15px 28px;
    font-family: sans-serif;
    background-color: #4a42ec;
    border-radius: 100px;
    color: white;
    font-weight: 900;
    margin-top: 23px;
    border: 0;
}
.backgroundimage{
    background-image: url('workstation-336369_1280.jpg');
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-overlay{
    display: flex;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-behind-video{
    background-image: url('gettyimages-500177214-612x612.jpg');
     height: 500px;
     width: 100%;
     background-repeat: no-repeat;
     background-size: cover;
}
.video-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .4);
    height: 100%;
}
.video-overlay video{
    display: flex;
    height: 360px;
    width: 639px;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 0;
    margin-top: 100px;
}
.container{
    margin-top: 30px;
}
.background-image{
    background-image: url('back-to-school-2707089_1280.jpg');
    height: 350px;
    width: 100%;
    background-repeat: no-repeat;
    /* box-shadow: 0px 0px 8px 0px grey; */
}
.col-h3-1{
    color: #F5C401;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.col-h3-2{
    color: #28D687;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.col-h3-3{
    color: #3B43EB;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.col-h3-4{
    color: #9C3BEB;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.col-h3-5{
    color: #F25F00;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.grid-button input{
    background-color: #3776FF;
    border-radius: 20px;
    border: 0;
    font-size: 12px;
    font-weight: 900;
    color: white;
    padding: 11px 15px;
    margin: 50px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.build{
    display: flex;
    height: 100%; 
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.build h1{
    margin-top: 0;
    font-size: 80px;
    font-weight: 900;
    font-family: none;
    color: #3c43eb;
    text-align: center;
}
.build h2{
    font-size: 1.8em;
    line-height: 1.25em;
    /* width: 34%; */
}
.build p{
    /* width: 818px; */
    font-size: 18px;
    color: #837C90;
}
.videos-grid{
    display: flex;
    flex: 1;
    padding: 34px 70px;
    justify-content: center;
    align-items: center;
}
.left-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
    height: 300px;
    /* justify-content: center; */
    justify-content: end;
    /* margin-top: 43px; */

}
.left-links{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid lightgray;
    width: 230px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 16px 0px rgb(203, 216, 238);
    color: black;
    font-size: smaller;
    font-weight: 500;
    margin-bottom: 21px;
    list-style: none;
    padding-left: 10px;
}
.left-links:hover{
    width: 240px;
    box-shadow: 0px 0px 16px 0px rgb(153, 166, 192);

}
.right-column{
    display: flex;
    flex-direction: column ;
    align-items: center;
    width: 290px;
    height: 300px;
    /* justify-content: center; */
    justify-content: end;


}
.right-links{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid lightgray;
    width: 230px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 16px 0px rgb(203, 216, 238);
    color: black;
    font-size: smaller;
    font-weight: 500;
    margin-bottom: 21px;
    list-style: none;
    padding-left: 10px;
}
.right-links:hover{
    width: 240px;
    box-shadow: 0px 0px 16px 0px rgb(153, 166, 192);
}
/* .videos-grid-video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;    
} */
.videos-grid-video video{
    display: flex;
    height: 360px;
    width: 639px;
    /* margin: 0 65px; */
    border-radius: 10px;
    
}
.build-video{
    /* box-shadow: 0px 9px 9px -9px grey; */
}
.design{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 100px 0px;
    justify-content: space-evenly;
    /* box-shadow: 0px 9px 9px -9px grey; */
}
.design-build{
    display: flex;
    height: 100%; 
    margin-right: 10%;
    /* width: 26%; */
    /* text-align: center; */
    /* align-items: center; */
    flex-direction: column;
    /* margin-top: 50px; */
}
.design-build h1{
    margin-top: 0;
    font-size: 80px;
    font-weight: 900;
    font-family: none;
    color: #5B9FFF;
    /* text-align: center; */
}
.design-build h2{
    font-size: 35px;
    line-height: 1.25em;
    /* width: 34%; */
}
.design-build p{
    /* width: 818px; */
    font-size: 19px;
    color: #837C90;
}
.design-build input{
    background-color: #6797FF;
    border-radius: 100px;
    border: 0;
    font-size: 12px;
    font-weight: 900;
    color: white;
    /*padding: 11px 15px;
    */height: 45px;
    width: 170px;
    margin: 30px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.design-image{

    /* width: 35%; */
    height: 500px;
}
.customize{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    flex-direction: row;
    margin: 100px 0px;
    justify-content: space-evenly;
    /* box-shadow: 0px 9px 9px -9px grey; */
}
.customize-build{
    display: flex;
    height: 100%; 
    margin-left: 10%;
    /* width: 36%; */
    /* text-align: center; */
    /* align-items: center; */
    flex-direction: column;
    /* margin-top: 50px; */
}
.customize-build h1{
    margin-top: 0;
    font-size: 80px;
    font-weight: 900;
    font-family: none;
    color: #3c43eb;
    /* text-align: center; */
}
.customize-build h2{
    font-size: 32px;
    line-height: 1.25em;
    /* width: 34%; */
}
.customize-build p{
    /* width: 818px; */
    font-size: 19px;
    color: #837C90;
}
.customize-build input{
    background-color: #4A42EC;
    border-radius: 100px;
    border: 0;
    font-size: 12px;
    font-weight: 900;
    color: white;
    /*padding: 11px 15px;
    */height: 45px;
    width: 230px;
    margin: 30px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.customize-image{

    /* width: 35%; */
    height: 500px;
}
.background-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("bubbles-1968271_1280.png");
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.divi-on-background{
    background-color: #4B3BDB;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 400px;
    /* width: 1000px; */
    border-radius: 10px;
    /* box-shadow: 0 18px 40px 0px #A3A0D9; */
    padding: 32px 50px;
}
.paragraphs{
    margin: 20px;
}
.paragraphs h3{
    font-weight: 700;
    font-size: 20px;
    color: white;
}
.paragraphs p{
    font-size: 106%;
    color: #D2CCEE;
}


.promote{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    flex-direction: row;
    margin: 100px 0px   ;
    justify-content: space-evenly;
    /* box-shadow: 0px 9px 9px -9px grey; */
}
.promote-build{
    display: flex;
    height: 100%; 
    margin-left: 10%;
    /* width: 36%; */
    /* text-align: center; */
    /* align-items: center; */
    flex-direction: column;
    /* margin-top: 50px; */
}
.promote-build h1{
    margin-top: 0;
    font-size: 80px;
    font-weight: 900;
    font-family: none;
    color: #EEB000;
    /* text-align: center; */
}
.promote-build h3{
    font-size: 33px;
    line-height: 1.25em;
    /* width: 34%; */
}
.promote-build p{
    /* width: 818px; */
    font-size: 20px;
    color: #837C90;
}
.promote-build-input-1{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #554EED;
    border-radius: 100px;
    border: 0;
    font-size: 12px;
    font-weight: 900;
    color: white;
    padding: 5px 20px;
    height: 50px;
    width: 260px;
    margin: 8px;
}
.promote-build-input-2{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #FF883F;
    border-radius: 100px;
    border: 0;
    font-size: 12px;
    font-weight: 900;
    color: white;
    padding: 5px 20px;
    height: 50px;
    width: 294px;
    margin: 8px;
}
.promote-build-input-3{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #FFB414;
    border-radius: 100px;
    border: 0;
    font-size: 12px;
    font-weight: 900;
    color: white;
    padding: 5px 20px;
    height: 50px;
    width: 260px;
    margin: 8px;
}
.promote-image{
    display: contents;
}
.promote-image > img{
    margin-top: 17px;
    width: 45%;
    height: 527px;
}
.power{
    background-color: #34DD9B;
    display: flex;
    padding: 2%;
    /* margin: 5% 10%; */
    box-shadow: 2px -5px 33px lightgrey;
    border-radius: 10px;
}
/* .row{
    display: flex;
    align-items: center;
} */
.power_container{
    display: flex;
    flex-direction: column;
}
.power_container h1{
    color:white;
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 22px;
}
.power_container h3{
    color:white;
    font-size: 32px;
    margin-bottom: 22px;
}
.power_container p{
    color: #C4F5E1;
    font-size: 18px;
}

.unlimited_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    /* border: 1px solid; */
    border-radius: 10px;
    text-align: center;
    padding: 41px 30px;
    box-shadow: 2px -5px 33px lightgrey;
}
.unlimited_container h1{
    color: #2145E9;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 22px;
}
.unlimited_container h3{
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 22px;
}
.unlimited_container input{
    padding: 3% 10%;
    border-radius: 100px;
    border: 0;
    background-color: #244CEA;
    color: white;
    font-weight: 650;
    font-family: inherit;
}
.unlimited_container p{
    color: #6d7c90;
    width: 100%;
}

/* .power{
    display: flex;
    flex: 1;
    /* padding: 5%; */
}
.power{
    padding: 5%;
    height: 600px;
}
.power_sub_container{
    position: relative;
    display: flex;
    flex: 1;
    background-color: #35DC92;
    flex-direction: row;
    border-radius: 10px;
    /* justify-content: space-evenly; */

}
.power-build{
    /* width: 50%; */
    justify-content: center;
    padding-left: 70px;
    color: white;
    flex-direction: column;
    border-radius: 10px;
}
.power-build{
    margin: 72px;
}
.power-build h1{
    font-size: 75px;
}
.power-build h3{
    width: 390px;
}
.power-build p{
    width: 400px;
}
.unlimited-build{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: white;
    /* color: white; */
    width: 495px;
    height: 465px;
    border-radius: 10px;
    box-shadow: 2px -5px 33px lightgrey;
}
.unlimited-build{
    position: absolute;
    top: 63px;
    left: 680px;
}
.unlimited-build h1{
    font-size: 68px;
    margin-top: 25px;
    color: #2248E9;
}
.unlimited-build h3{
    font-size: 35px;
    text-align: center;
}
.unlimited-build p{
    color: #8E9AA9;
    font-size: 18px;
    width: 457px;
    text-align: center;
}
.unlimited-build input{
    border-radius: 100px;
    padding: 13px 36px;
    background-color: #1825E4;
    color: white;
    border: 0px;
} */
.grid-system{
    padding: 30px 115px;
}
.col-3{
    /* padding: 50px 25px; */
    padding: 0 .75%;
}
.col-3:hover{
    box-shadow: 2px -5px 33px lightgrey;
}
.col-3 h3{
    /* width: 100%; */
    font-size: 22px;
    font-family: unset;
}
.col-3 p{
    color: #6D7C90;
}
.heading h3{
    width: 100%;
    /* margin: 35px 148px; */
    text-align: center;
    font-size: 32px;
}
.last-grid{
    padding: 30px 200px;
    text-align: center;
}
/* .col-2:hover{
    box-shadow: 2px -5px 33px lightgrey;
} */
.grid-social{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    height: 120px;
    box-shadow: 2px 0px 24px lightgrey;
    
}
/* .grid-social{
    box-shadow: 2px -5px 33px lightgrey;
} */
.footer-list{
    display: flex;
    list-style: none;
    justify-content: center;
    /* padding: 30px 184px; */

}
.footer-parent-list-item{
    margin: 0 4%;
    line-height: 32px;
}
.footer-parent-list-item ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 125px;
    font-size: 14px;
    color: #6d7c90;
}
.footer-child-list-item:hover{
    color: lightblue;
}
.final_grid{
    display: flex;
    flex-direction: row;
}
.row_container{
    padding: 2%;
}
.row_container h3{
    height: 66px;
}







/* media query starts from here */
 
@media screen and (max-width: 1024px){
    .unlimited-build{
        width:450px ;
        height:420px ;
    }
    .left-links{
        margin-left: 155px;
        margin-right: 46px;
        width: 170px;
    } */
    /* .right-links{
        margin-left: 10px;
        margin-right: 46px;
        width: 170px;
    }
    /* .videos-grid{
        padding: 0;
        margin: 0;
    } */

    .power_sub_container{
        height: fit-content;
    }
    .unlimited-build{
        position: unset;
    }
    .power-build{
        padding-left: 0;
    }
    
    .videos-grid-video video{
        width: 100%;
        flex:100%;
    }
    /* .col-3{
        flex: unset;
        max-width: 0;
    } */
    .unlimited_container{
        margin-top: 10px;
    }
    .promote-image > img{
        width: 100%;
        flex-wrap: wrap;
    }
    .promote{
        flex-wrap: wrap;
    }
    .customize{
        flex-wrap: wrap;
    }
    .customize-image{
        width: 100%;
    }
    .design{
        flex-wrap: wrap;
    }
    .design-image{
        width: 100%;
    }
    .promote-build{
        margin: 0;
    }
    .customize-build{
        margin: 0;
    }
    .design-build{
        margin: 0;
    }
    /* .promote-build a{
        width: 30%;
        flex-direction: row;
    } */
    .paragraphs{
        margin: 0;
    }
    .col-3{
        display: flex;
        flex-wrap: wrap;
    }
    
}
@media screen and (max-width:425px){
    .divi-on-background{
        display: flex;
        flex-wrap: wrap;
        height: unset;
    }
    
    }
}
@media screen and (max-width:768px){
    .footer-list{
        display: flex;
        flex-wrap: wrap;
    }
}    
@media screen and (max-width:375px){
    .col-3{
        display: flex;
        flex-wrap: wrap;
        max-width: unset;
}