body{
    margin: 0;
    padding: 0;
}
.paragraph{
    margin-bottom: 15px;
    font-size: 15px;
    color: #8E9AA9;
}
.parent-listitems a{
    text-decoration: none;
    color: #797F82;
}
.parent-listitems-ul a{
    text-decoration: none;
    color: #8B30EB;
}
#nav-bar{
    display: flex;
    flex:1;
    padding: 0px 5%  ;
    height: 60px;
    box-shadow: 0px 1px 5px gray;
    justify-content: space-between;
}
#logo{
    display: flex;
    justify-content: center;
    background-color: white;
}
#logo img{
    width: 95px;
    height: 46px;
    margin-top: 9px;
}
#right-dropdown{
    display: flex;
    align-items: center;
    align-content: right;
    justify-content: flex-end;  
}
.navigation-ul{
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 48px;
    flex: 1;
}

.parent-listitems{
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
     font-weight: bold;
     font-family: sans-serif;
     position: relative;
     width: 126px;
     height: 49px;
}
.parent-listitems-ul{
    display: none;
    font-weight: bold;
    text-decoration: none;
    font-family: sans-serif;
    position: absolute;
    /*right: 10px;
    */top: 50px;
    /*left: 0;
    */width: 337px;
    flex-direction: column;
    background-color: #ffffff;
    padding: 0;
    list-style: none;
    line-height: 26px;
    font-size: 18px;
    padding: 15px 30px;
    box-shadow: 0px 0px 10px 1px #c077be;
    border-radius:8px ;
}
.listitems:hover{
    margin-left: 5px;
}
.parent-listitems:hover .parent-listitems-ul{
    display: flex;
}

.parent-listitems-ul form{
    text-align: center;
}
.form1{
    width: 75%;
    padding: 7px 9px;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 5px;
    margin: 8px 0;
    color: #A5AEBA;
    background-color: #F0F2F4;
    border: 0;
}
.form1:hover{
    border: 2px solid #4A42EC;
}
.mem-button{
    background-color: #4A42EC;
    color: white;
    padding: 12px 9px;
    width: 82%;
    border-radius: 28px;
    border: 0;
}
.mem-button:hover{
    background-color: #5C55EE;
}
.forget-pass{
    color: #A5AEBA;
    font-size: 13px; 
}
#pricing-div{
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    width: 150px;
    color: white;
    background-color: #FF399D;
    font-weight: bold;
    font-family: sans-serif;
}
#pricing-div a{
    color: white;
    text-decoration: none;
}
.buttoncontacts{
    display: flex;
    justify-content: center;
}
.buttoncontacts input{
    background-color: #4B83FC;
    text-align: center;
    height: 46px;
    width: 272px;
    border-radius: 12px;
    border: 0;
}
.button-J-to-O{
    display: flex;
    justify-content: center;
}
.button-J-to-O input{
    background-color: #9A55EE;
    text-align: center;
    height: 46px;
    width: 272px;
    border-radius: 12px;
    border: 0;
}
.button-learn{
    display: flex;
    justify-content: center;
}
.button-learn input{
    background-color: #4B83FC;
    text-align: center;
    height: 46px;
    width: 272px;
    border-radius: 12px;
    border: 0;
}
.listitems1{
    border: 1px solid red;
    width: 200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.listitems2{
    border-radius: 10px;
    background-color: lightblue;
    height: 30px;
    
}
#divi-main{
    /* padding: 0 11%; */
    margin-top: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.backgroundimage h1{
    margin-top: 0;
    font-size: 80px;
    font-weight: 900;
    font-family: none;
    color: #3c43eb;
    text-align: center;
}
.backgroundimage h2{
    font-size: 1.8em;
    line-height: 1.25em;
    color: white;
    width: 57%;
}
.backgroundimage p{
    width: 677px;
    font-size: 18px;
    color: white;
    /* display: flex; */
}
#submit{
    display: flow-root;
    font-size: 12px;
    /*width: 25%;
    */padding: 15px 28px;
    font-family: sans-serif;
    background-color: #4a42ec;
    border-radius: 100px;
    color: white;
    font-weight: bold;
    margin-top: 23px;
    border: 0;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.backgroundimage{
    background-image: url('workstation-336369_1280.jpg');
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-overlay{
    display: flex;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.img-behind-video{
    background-image: url('gettyimages-500177214-612x612.jpg');
     height: 500px;
     width: 100%;
     background-repeat: no-repeat;
     background-size: cover;
}
.video-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 2px 9px -5px grey;
    height: 100%;
}
.video-overlay video{
    display: flex;
    height: 360px;
    width: 639px;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 1px solid;
    box-shadow: 0px 1px 13px 1px;
}
.row img{
    height: 300px;
    width: 300px;
    margin: 5px;
    box-shadow: 0px 1px 13px 1px gray;
}